Django>=5.0
djangorestframework
django-cors-headers
djangorestframework-simplejwt
psycopg2-binary
gunicorn
python-decouple
Pillow
openpyxl
reportlab
pandas
requests
# Persian Date Support
jdatetime
django-jalali-date

# API Documentation
drf-spectacular

# Push Notifications
django-webpush
pywebpush
